<?xml version="1.0" encoding="UTF-8" ?>
<!-- 15초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="15 seconds">
    <!-- Local(When Dev in Local) Log Config -->
    <springProfile name="local">
        <property name="LOG_PATTERN" value=" %d{yy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] [%logger{0}-%M:%line] - %msg%n "/>
        <!-- Console Appender -->
        <appender name="LOCAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
        <logger name="org.hibernate.SQL" level="DEBUG" additive="false" />
        <root level="INFO">
            <appender-ref ref="LOCAL_CONSOLE" />
        </root>
    </springProfile>


    <springProfile name="prod">
        <property resource="application-prod.properties"/>
        <property name="CONSOLE_PATTERN" value="%d{yy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] [%logger{0}-%M:%line] - %msg%n" />
        <property name="ROLLING_PATTERN" value="%d{yy-MM-dd HH:mm:ss.SSS} %-5level %logger{0} - %msg %n" />
        <property name="FILE_NAME" value="/var/logs/spring.log" />
        <property name="LOG_NAME_PATTERN" value="/var/logs/spring-%d{yyyy-MM-dd-HH-mm}.%i.log" />
        <property name="MAX_FILE_SIZE" value="100MB" />
        <property name="TOTAL_SIZE" value="2000MB" />
        <property name="MAX_HISTORY" value="20" />

        <!-- Console appender 설정 -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>${CONSOLE_PATTERN}</Pattern>
            </encoder>
        </appender>

        <!-- RollingFileAppender 설정 -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${FILE_NAME}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_NAME_PATTERN}</fileNamePattern>
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
                <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>
                <maxHistory>${MAX_HISTORY}</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${ROLLING_PATTERN}</Pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>

    </springProfile>


</configuration>




